
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto:ital,wght@1,700&display=swap');



*{  margin: 0%;
    padding: 0%;
}


h1{
    text-align: center; 
    font-weight: bolder;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: rgb(122, 112, 112);
    line-height: 150px;
    font-size: 60px;
    background-color:  rgb(14, 45, 223);
    
}

nav{
    font-size: 32px;
    padding: 40px;
    
}

.interior{
    height: 50vh;
    width: 100%; 
    margin-top: 3em;
    display: flex;
}


body{
    background-color:rgb(176, 223, 241) ;
    
}

.card{
    margin: 20px;
    
}

.concesionaria{
    color: rgb(122, 112, 112);
    text-align: end;
    font-size: 35px;
    word-spacing: 3px;
    padding: 30px;
}

/* estilo de texto */
p{ font-family:'Poppins', sans-serif;;
    font-weight: bold; 
    font-size: 20px; 
    text-align: center;
    line-height: 40px;
    color: rgb(34, 56, 56);
    
}

footer{
    background-color: rgb(14, 45, 223);
    padding-top: 20px;

}

@media (min-width:500px){
.interior{
    height: 55vh;
    width: 90%;    
    margin-left: 2em;
    }
.p{
    margin-left: 5em; 
    margin-right: 5em;
    width: 80%;
    }
}

@media (min-width:780px){
.interior{
    height: 75vh;
    }
.texto{
    font: size 15px;
    justify-content: center;
    
}
}


@media (min-width:1000px){
.texto{
    margin-left: 6em;
    margin-right: 6em;
}
}

.body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header header"
    "h1      h2"
    "grilla grilla"
    "grilla  card"
    "footer  footer";
}

.header{
    grid-area:header;
}
.h1{
    grid-area: h1;
}
.h2{
    grid-area: h2;
}
.grilla{
    grid-area: grilla;
    
}
.footer{
    grid-area: footer;
}

.vehiculo{
    width: 100%;
    height: 90vh;
}
.descript{
    width: 90%;}


.postventa{
    display: flex;
    justify-content: center;
    margin: 2em;
}
.postventa2{
    display: flex;
    justify-content: center;
    margin: 2em;
}
.taller1{
    width: 70%;
    height: 50vh;
    margin-left: 1em;
}
.taller{
    width: 70%;
    height: 50vh;
    margin-left: 1em;

}
.descript{
    margin-bottom: 2em;
}