.interior{
    height: 50vh;
    width: 100%; 
    margin-top: 3em;
    display: flex;
}
/* estilo de texto */
p{ font-family:'Poppins', sans-serif;;
    font-weight: bold; 
    font-size: 20px; 
    text-align: center;
    line-height: 40px;
    color: rgb(34, 56, 56);
}
