
h1{
    text-align: center; 
    font-weight: bolder;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: rgb(122, 112, 112);
    line-height: 150px;
    font-size: 60px;
    background-color:  rgb(14, 45, 223);
}
.concesionaria{
    color: rgb(122, 112, 112);
    text-align: end;
    font-size: 35px;
    word-spacing: 3px;
    padding: 30px;
}
