@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto:ital,wght@1,700&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

@media (min-width:500px) {
    .interior {
        height: 55vh;
        width: 90%;
        margin-left: 2em;
    }

    .p {
        margin-left: 4em;
        margin-right: 4em;
        width: 80%;
    }

    .vehiculo {
        height: 60vh;
        width: 40%;
        padding: 0%;
    }
}

@media (min-width:780px) {
    .interior {
        height: 75vh;
    }

    .texto {
        font: size 15px;
        justify-content: center;
    }
}


@media (min-width:1000px) {
    .texto {
        margin-left: 6em;
        margin-right: 6em;
    }

    body {
        width: 100%;
        height: 100vh;
    }
}

nav {
    font-size: 32px;
    padding: 40px;
}

.card {
    margin: 20px;
}

.interior {
    height: 90vh;
    width: 90%;
    margin-top: 3em;
    display: flex;
}

/* estilo de texto */
p {
    font-family: 'Poppins', sans-serif;
    ;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: rgb(34, 56, 56);
    margin-left: 1em;
}

h1 {
    text-align: center;
    font-weight: bolder;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: rgb(122, 112, 112);
    line-height: 150px;
    font-size: 60px;
    background-color: rgb(14, 45, 223);
}

.concesionaria {
    color: rgb(122, 112, 112);
    text-align: end;
    font-size: 35px;
    word-spacing: 3px;
    padding: 30px;
}

.mb-3 {
    padding-left: 2em;
    padding-right: 2em;
}

footer {
    background-color: rgb(14, 45, 223);
    padding-top: 15px;
    display: flex;
}

.icono {
    justify-content: center;
    padding: 1em;
}

body {
    background-color: rgb(176, 223, 241);
}

.vehiculo {
    width: 90%;
    height: 89vh;
    padding: 2em;
}

.financiados {
    flex-wrap: wrap;

}

.cuotas {
    width: 43%;
    height: 60vh;
    margin: 1em;
}

.planta {
    display: contents;
}

.personal {
    margin-left: 2em;
    margin-bottom: 1em;
    height: 100vh;
    width: 90%;
}

.descript {
    width: 90%;
}

.busqueda {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 6em;
}

.postventa {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.postventa2 {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.taller1 {
    width: 70%;
    height: 50vh;
    margin-left: 1em;
}

.taller {
    width: 70%;
    height: 50vh;
    margin-left: 1em;

}

.descript {
    margin-bottom: 2em;
}